<h2>Actors and movies</h2>
<form action="{% url 'polls:movies' %}" method="post">
{% csrf_token %}
  Enter an actor whose movies you want to see: <input type="text" name="actor_name"><br/>
  <input type="submit" value="Submit">
</form>

<p></p>
<form action="{% url 'polls:joint_movies' %}" method="post">
{% csrf_token %}
  Enter all actors (2 or 3, comma separated) whose common movies you want to see: <input type="text" name="actor_names">
<br/>
  <input type="submit" value="Submit">
</form>

<p></p>
<form action="{% url 'polls:actors' %}" method="post">
{% csrf_token %}
  Enter a movie whose actors you want to see: <input type="text" name="movie_name"><br/>
  <input type="submit" value="Submit">
</form>


<p></p>
<form action="{% url 'polls:separation' %}" method="post">
{% csrf_token %}
  Enter any two actors (comma separated) and find the degrees of separation between them: <input type="text" name="actor_names"><br/>
  <input type="submit" value="Submit">
</form>
